@import "./responsive.scss";

@mixin container {
  margin: 0 auto;
  max-width: 52rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  @include wider($tablet) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
